.navbar {
  margin-bottom: 12;
  border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
  height: 400px;
}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {
    height: auto;
  }
}

[data-content] {
  display: none;
}

.active[data-content] {
  display: block;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10; /* Asegura que el footer esté encima de otros elementos */
  background-color: #555;
  color: white;
  padding: 5px;
}

.main-content {
  margin-bottom: 20px; /* Ajusta este valor según el tamaño de tu footer */
}

/* Estilo para la columna de contenido */
.col-content {
  padding-right: 20px; /* Espacio a la derecha del contenido */
}

/* Estilo para la columna adicional */
.col-sidebar {
  background-color: #f9f9f9; /* Color de fondo de la columna adicional */
  padding: 10px; /* Espacio interior de la columna adicional */
  border-left: 1px solid #ccc; /* Borde izquierdo para separar la columna de contenido */
  border-radius: 10px;
}

/* Estilo para la columna adicional en dispositivos móviles */
@media screen and (max-width: 767px) {
  .col-sidebar {
    border-left: none; /* Quitar el borde izquierdo en dispositivos móviles */
  }
}

/*Seccion de contenido para el calendario*/

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --calendar-bg-color: #262829;
  --calendar-font-color: #fff;
  --weekdays-border-bottom-color: #404040;
  --calendar-date-hover-color: #505050;
  --calendar-current-date-color: #1b1f21;
  --calendar-today-color: linear-gradient(to bottom, #03a9f4, #2196f3);
  --calendar-today-innerborder-color: transparent;
  --calendar-nextprev-bg-color: transparent;
  --next-prev-arrow-color: #fff;
  --calendar-border-radius: 16px;
  --calendar-prevnext-date-color: #484848;
}

* {
  padding: 0;
  margin: 0;
}

.calendar {
  font-family: "IBM Plex Sans", sans-serif;
  position: relative;
  max-width: 400px; /*change as per your design need */
  min-width: 320px;
  background: var(--calendar-bg-color);
  color: var(--calendar-font-color);
  margin: 20px auto;
  box-sizing: border-box;
  overflow: hidden;
  font-weight: normal;
  border-radius: var(--calendar-border-radius);
}

.calendar-inner {
  padding: 10px 10px;
}

.calendar .calendar-inner .calendar-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}

.calendar .calendar-inner .calendar-body div {
  padding: 4px;
  min-height: 30px;
  line-height: 30px;
  border: 1px solid transparent;
  margin: 10px 2px 0px;
}

.calendar .calendar-inner .calendar-body div:nth-child(-n + 7) {
  border: 1px solid transparent;
  border-bottom: 1px solid var(--weekdays-border-bottom-color);
}

.calendar .calendar-inner .calendar-body div:nth-child(-n + 7):hover {
  border: 1px solid transparent;
  border-bottom: 1px solid var(--weekdays-border-bottom-color);
}

.calendar .calendar-inner .calendar-body div > a {
  color: var(--calendar-font-color);
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.calendar .calendar-inner .calendar-body div:hover {
  border: 1px solid var(--calendar-date-hover-color);
  border-radius: 4px;
}

.calendar .calendar-inner .calendar-body div.empty-dates:hover {
  border: 1px solid transparent;
}

.calendar .calendar-inner .calendar-controls {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.calendar .calendar-inner .calendar-today-date {
  display: grid;
  text-align: center;
  cursor: pointer;
  margin: 3px 0px;
  background: var(--calendar-current-date-color);
  padding: 8px 0px;
  border-radius: 10px;
  width: 80%;
  margin: auto;
}

.calendar .calendar-inner .calendar-controls .calendar-year-month {
  display: flex;
  min-width: 100px;
  justify-content: space-evenly;
  align-items: center;
}

.calendar .calendar-inner .calendar-controls .calendar-next {
  text-align: right;
}

.calendar
  .calendar-inner
  .calendar-controls
  .calendar-year-month
  .calendar-year-label,
.calendar
  .calendar-inner
  .calendar-controls
  .calendar-year-month
  .calendar-month-label {
  font-weight: 500;
  font-size: 20px;
}

.calendar .calendar-inner .calendar-body .calendar-today {
  background: var(--calendar-today-color);
  border-radius: 4px;
}

.calendar .calendar-inner .calendar-body .calendar-today:hover {
  border: 1px solid transparent;
}

.calendar .calendar-inner .calendar-body .calendar-today a {
  outline: 2px solid var(--calendar-today-innerborder-color);
}

.calendar .calendar-inner .calendar-controls .calendar-next a,
.calendar .calendar-inner .calendar-controls .calendar-prev a {
  color: var(--calendar-font-color);
  font-family: arial, consolas, sans-serif;
  font-size: 26px;
  text-decoration: none;
  padding: 4px 12px;
  display: inline-block;
  background: var(--calendar-nextprev-bg-color);
  margin: 10px 0 10px 0;
}

.calendar .calendar-inner .calendar-controls .calendar-next a svg,
.calendar .calendar-inner .calendar-controls .calendar-prev a svg {
  height: 20px;
  width: 20px;
}

.calendar .calendar-inner .calendar-controls .calendar-next a svg path,
.calendar .calendar-inner .calendar-controls .calendar-prev a svg path {
  fill: var(--next-prev-arrow-color);
}

.calendar .calendar-inner .calendar-body .prev-dates,
.calendar .calendar-inner .calendar-body .next-dates {
  color: var(--calendar-prevnext-date-color);
}

.calendar .calendar-inner .calendar-body .prev-dates:hover,
.calendar .calendar-inner .calendar-body .next-dates:hover {
  border: 1px solid transparent;
  pointer-events: none;
}

/*Fin de la Seccion de contenido para el calendario*/

/* Seccion de Calendario de Google*/
#calendar-iframe {
  width: 100%; /* Ancho del 100% del contenedor padre */
  height: 600px; /* Altura de 600 píxeles */
  border: none; /* Sin borde alrededor del iframe */
  margin-top: 12px; /* Margen superior de 20 píxeles */
}
/* Fin de la seccion de calendario de google*/

/* Seccion de Proveedores */
.proveedor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.proveedor img {
  max-width: 100%;
}

.proveedor-info {
  text-align: center;
}

.proveedores-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.proveedor {
  width: calc(
    50% - 5px
  ); /* Ajusta el ancho según el espacio disponible y los márgenes */
  margin-bottom: 2px; /* Espacio entre los bloques de proveedores */
}

.proveedor img {
  max-width: 100%;
}

.proveedor-info {
  text-align: center;
}

/* Fin de la Seccion de Proveedores */
